@import "tailwindcss";

:root {
  --primary: #ff4c24;
  --text-main: #49557e;
  --text-dark: #262626;
  --bg-dark: #323232;
  --border-light: #e2e2e2;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: var(--primary);
  --color-text-main: var(--text-main);
  --color-text-dark: var(--text-dark);
  --color-bg-dark: var(--bg-dark);
}

body {
  font-family: var(--font-outfit);
  color: var(--text-main);
  background-color: #ffffff;
}

/* Animations for the header */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s;
}